@import './fonts/opensans.scss';

// Блок переменных

// переменные шрифтов
$subtitle-color: #8494ab;
$value-color: #373c43;
$placeholder-color: #bec6cf;

* {
  //эти параметры стандартны для всего поля авторизации
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

// Оформление шрифтов
.subtitle {
  color:  $subtitle-color;
}
.value {
  color:  $value-color;
}
